<%= form_for(@amoeba) do |f| %>
  <% if @amoeba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amoeba.errors.count, "error") %> prohibited this amoeba from being saved:</h2>

      <ul>
      <% @amoeba.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    <%= f.label :talent, 'Talent' %>
    <%= f.select :talent_id, Talent.all.collect {|talent| [talent.name, talent.id]} %>  

    
    <%= f.submit %>
  </div>
<% end %>