<h1>All Amoebas</h1>

<table cellpadding=3>
  <tbody>
      <tr>
        <td><b>Name</b></td>
        <td><b>Gen</b></td>
        <td><b>Talent</b></td>
        <td><b>Acts</b></td>
      </tr>
    <% @amoebas.each do |amoeba| %>
      <tr>
        <td><%= link_to amoeba.name, amoeba, :class => "newlinkcolor" %></td>
        <td><%= amoeba.generation %></td>
        <td><%= amoeba.talent.name %></td>
        <td><% amoeba.acts.each_with_index do |act, index| %>
              <%= act.name %> 
              <% if index < amoeba.acts.size - 1 %>
               |
              <% end %>
            <% end %>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'Edit', edit_amoeba_path(amoeba) %></td>
        <td><%= link_to 'Destroy', amoeba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <br>
  </tbody>
</table>
<br>

<%= link_to 'New Amoeba', new_amoeba_path %>
