<!DOCTYPE html>
<html>
<head>
  <title>AmoebaCircusOnRailsRuby003</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
      <%= link_to "Amoebas", amoebas_path, :class => "toplinkcolor" %> |
      <%= link_to "Acts", acts_path, :class => "toplinkcolor" %>
    </nav>
    
  <h1>Welcome to Raymoeba Circus!</h1>
<p>Please select from the choices above.</p>

<%= yield %>

</body>
</html>
