<%= form_for(@act) do |f| %>
  <% if @act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@act.errors.count, "error") %> prohibited this act from being saved:</h2>

      <ul>
      <% @act.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
    <%= f.label :date, 'Date' %>
    <%= f.date_field :date %>
    <%= f.label :time, 'Time' %>
    <%= f.time_field :time %>
    <%= f.submit %>
  </div>
<% end %>
