<h1>All Acts</h1>

<table cellpadding=7>
  <tbody>
      <tr>
        <td></td><td></td>
        <td><b>Name</b></td>
        <td><b>Date</b></td>
        <td><b>Time</b></td>
        <td><b>Amoebas</b></td>
      </tr>
    <% @acts.sort_by {|act| act.name}.each do |act| %>
      <tr>
        <td><%= link_to image_tag("pencil.png"), edit_act_path(act) %></td>
        <td><%= link_to image_tag('trash.png'), act, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to act.name, act, :class => "newlinkcolor" %></td>
        <td><%= act.date %></td>
        <td><%= act.time.strftime('%I:%M %P') %></td>
        <td><% act.amoebas.each_with_index do |amoeba, index| %>
              <%= amoeba.name %> 
              <% if index < act.amoebas.size - 1 %>
              |
              <% end %>
            <% end %>
        </td>
      </tr>
      <tr>

      </tr>
    <% end %>
    <br>
  </tbody>
</table>
<br>

<%= link_to 'New Act', new_act_path %>
